@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.flex-all-items {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.notification-success {
	background-color: #cfffd9 !important;
}
.notification-error {
	background-color: #f58989 !important;
}

.modal-custom{
	.ant-modal-close{
		outline: none;
	}
	.ant-row .ant-form-item{
		margin: 0;
	}
}
